body{
    height: 100%;
    position: absolute;
    width: 100%;
}
#root {height: inherit;}
#root div {
    height: inherit;
}
textarea.inputArea, div.outputArea{
    height:80% !important;
    background:lightgrey;
    margin-top: 4%;
}
textarea.inputArea {
    resize: none;
}
@media (max-width: 992px){
    textarea.inputArea{
        width:100% !important;
    }
}